{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Story 9 PPW Shella</title>
</head>
<body>
    <div class="container">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>
