/*.search{
    min-width: 80%
}*/

.text-align-center{
    text-align: center;
}

.item{
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-color: #000000;
    width: min-content;
    transition: 0.3s;
}

.item:hover{
    transform: scale(1.1);
}

.no, .no:hover, .no:active, .no:visited{
    text-decoration: none;
    color: black;
}

.page-item{
    cursor: pointer;
}

.disabled{
    cursor: default;
}
